*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');
.main
{
    width: 100%;
    height: 100vh;
    background: url("thomas-bennie-kws8dJ9wfwc-unsplash.jpg") center center;
    background-size: cover;
    position: fixed;
}

.overlay
{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0,0, 0.5  );
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title
{
    margin-top: 20px;
    font-size: 3.5rem;
    color: white;
    text-align: center;
}

.col
{
    margin-top: 20px;
    width: 1000px;
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
    color: white;
}

.col div 
{
    width: 250px;
    text-align: center;
}

input
{
    width: 60%;
    height: 50px;
    display: block;
    background-color: rgba(255, 255, 255, 0.9);
    border-color: transparent;
    border-radius: 5px;
    height: 50px;
    text-align: center;
    font-size: 30px;
}